.OutputModule{
  background-color: rgb(100, 100, 100);
  color: rgb(145, 145, 145);;
  align-items: center;
  vertical-align: middle;   
}

.DeviceDetails{
  align-items: center;
  vertical-align: middle;
}
